*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif!important;
  font-family: 'Prompt', sans-serif!important;
}
body{
  background-color: #F1F8F8;
}
.merchant{
  max-width: 500px;
  display: block;
  margin: auto;
}

.nav{
 max-width: 500px;
 margin: auto;
 padding: 2rem 1rem 0rem 1rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 2rem;
}

.logo-pro img{
  max-width: 110px;
}

.cus-pro{
  cursor: pointer;
}

.menu-pro{
  max-width: 500px;
  width: 50%;
  display: block;
  margin-left: auto;
  background-color: #ffffff;
  border-radius: 0px 0px 5px 5px;
  padding: 1rem 1.5rem;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

ul.menu-list li{
  list-style: none;
  text-align: center;
  padding: 0.8rem 0rem;
  cursor: pointer;
}
ul.menu-list li:hover{
  background-color: #f1f8f8;
  border-radius: 5px;
}

.profile-name{
  padding: 0.2rem 0rem;
}

.merchant-name{
  padding: 1rem 1rem;
}

.merchant-name h2{
  color: #333;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.date-time{
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.date-time span{
  font-weight: lighter;
}

.ellipse{
  max-width: 344px;
  max-height: 336px;
  width: 274px;
  height: 268px;
  flex-shrink: 0;
  border-radius: 100%;
  border: 5px solid #09AFAF;
  background: linear-gradient(180deg, #03E0CA 0%, #116F65 100%);
  box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.25);
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  z-index: 1000;
}

.heartbeat {
  position: absolute;
  background-color: #32f6f0;
  border-radius: 100%;
  max-width: 304px;
  max-height: 296px;
  width: 265px;
  height: 258px;
  opacity: 0.3;
  animation: ping 2s cubic-bezier(0, 0, 0.1, 1) infinite;
  z-index: -1;
}

@keyframes ping {
  99%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.text-hilight{
  color: #d50001;
}

.advertize{
  max-width: 500px;
  display: block;
  margin: auto;
  padding: 0rem 3rem;
}
.advertize img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.ads-text{
  font-size: 10px;
}

.take-queue{
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-btn{
  display: block;
  margin: auto;
  max-width: 200px;
  width: 100%;
  padding: 0.5rem;
  background-color: #121212;
  color: #d50001;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}