*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F1F8F8;
}
.nav{
 max-width: 1200px;
 margin: auto;
 padding: 2rem 1rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 2rem;
}

.logo-pro img{
  max-width: 110px;
}